
.footer{
	background-image: url(../images/tile2.png);
	height: 380px;
	width: 100%;
}

.me{
 	text-align:center;
 	padding: 10% 0% 4%;
}

.about-me{
	background-image: url(../images/tile1.png);
	height: 500px;
	width: 100%;
}
.about{
	text-align:center;
 	padding: 5% 0% 0%;
}
.profile{
	border: 1px solid;
}